{% extends 'hw/base.html' %}
    {% block content %}        
    <h1>About this page</h1>
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, mollitia vitae molestias sapiente omnis aperiam tempora nihil nulla ex expedita est illo. Ex nihil id qui laborum, veritatis dicta saepe.
        </p>
        <p> Lorem ipsum dolor sit amet consectetur  adipisicing elit. Libero ipsum itaque corrupti placeat velit ea! Et, officiis nisi dicta recusandae at dolores illum, facere laborum quis ea tenetur exercitationem? Reiciendis.
        </p>
    {% endblock %}
