{% extends 'assign1/base.html' %}

    {% block context%}
    <h2>
        About Kevin Durant
    </h2>
    <p>
        Kevin Durant, currently playing forward for the Houston Rockets, 
        is the best scorers to ever step foot on a basketball court. 
        Born on September 29, 1988, he is famously nicknamed "The Slim Reaper" 
        because he's practically a 6-foot-11 center who can handle the ball and 
        shoot like a point guard. He broke into the NBA in 2007 and has racked up 
        two NBA championships, two Finals MVPs, the 2014 league MVP award, and 
        four scoring titles while bouncing between the Thunder, Warriors, Nets, and Suns. 
        On top of his NBA legacy, he is the ultimate cheat code for Team USA, 
        having snagged four straight Olympic gold medals.
    </p>

    <footer>
        <p>Page created by Xin Liu who is currently a junior </p>
    </footer>
    {% endblock %}        
